.banner {
  background-image: url('/assets/images/immortal-hulk.jpg');
  min-height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.banner small {
  color: #999898;
}
.banner .btn-primary {
  background-color: #e30f19;
  border-radius: 0;
  border: none;
  min-width: 100px;
}
@media (min-width: 576px) {
  .banner {
    min-height: 256px;
  }
}
@media (min-width: 768px) {
  .banner .d-flex {
    align-items: center;
  }
}
@media (min-width: 992px) {
  .banner {
    min-height: 70vh;
  }
  .banner p {
    max-width: 70vw;
  }
}
