<div class="row no-gutters">
  <div class="col-12 banner text-white">
    <div class="p-4 d-flex justify-content-start h-100">
      <div>
        <h1 class="h3">Hulk Imortal</h1>
        <small class="d-flex my-2">
          <span class="mr-3">2019</span>
          <span class="mr-3">12</span>
          <span>182min</span>
        </small>
        <p class="d-none d-lg-block">
          <span>Immortal Hulk é o resultado de Bruce Banner e o Hulk terem passado por</span>
          <span>diferentes mortes e renascimentos, permitindo que o Devil Hulk</span>
          <span>selasse as outras encarnações e se tornasse a persona dominante do Hulk.</span>
          <span>Ao contrário das outras encarnações do Hulk, Immortal Hulk se contenta em</span>
          <span>esperar dentro do Banner. Se Banner for ferido ao pôr do sol,</span>
          <span>o Immortal Hulk emergirá com sua transformação limitada à noite.</span>
          <span>Ele tem uma enorme habilidade de explosão gama capaz de nivelar uma montanha.</span>
          <span>Ele pode drenar a gama de outras mutações gama</span>
        </p>

        <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
      </div>
    </div>
  </div>
</div>
